.foot{
background-color: rgb(56, 2, 2) ;
height: 65vh;
color: rgb(234, 226, 226);
padding-bottom: 2em;
}
.aria {
    display: flex;
    justify-content: space-around; 
    padding: 3em 0.2em;

    .here1{
        img{
            width: 350px;
            height: 150px;
            object-fit: cover;
        }
        .side{
            display: flex;

        img{
            width: 30px;
            height: 30px;
            object-fit: cover;
            margin-right: 10px;
        }
        }
    }

.here h1{
        color: rgb(255, 255, 255);
        font-size: 1 2rem;
        font-family: 'Courier New', Courier, monospace;

}   
p{
    margin-bottom: 15px;
}
} 

.mei{
    text-align: center;
}
.mei h1{
    font-size: 1rem;
    color: rgb(255, 255, 255);
    
}
