*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cult1{
    background-image: url(../assets/hotel-9.jpg);
    background-repeat: no-repeat;
    height: 94vh;
    background-size: cover;
    align-content: center;
    padding: 4em;
    
}

.soft h1{
    font-size: 5rem;
    color: rgb(214, 196, 196);
    text-transform: uppercase;
}
.soft h4{
    font-size: 2rem;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   color:tomato;
   text-transform: capitalize;
}

.top{ 
    font-size: 2em;
}
.top button{
    border: none;
    border-radius: 1.3rem;
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: darkred;
    
    .link{
color: whitesmoke;
text-decoration: none;
}
    }
    
.top button:hover{
    background-color: rgb(100, 127, 156);
}
