.parent-card {
    
    width: 100%;
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    
}

.card {
    
    
    height: 30vh;
    padding: 30px;
    margin: 10px;
    width: 40%;
    background-color: tomato;
    border-radius: 30px;
    box-sizing: border-box;
}

.card2 {
      
    height: 30vh;
    padding: 30px;
    margin: 10px;
    width: 40%;
    background-color: gray;
    border-radius: 30px;
    box-sizing: border-box;
}
    



.parent-card h1 {
    text-align: center;
    color: greenyellow;
    

}

.card2 h1 {
    text-align: center;
    color: tomato;
    

}
.parent-card p{
    color: white;
}